body {
  min-height: 100vh;
  background: linear-gradient(rgba(30,30,30,0.7), rgba(30,30,30,0.7)),
    url("/static/gestion3/images/fondo-main.jpeg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.login-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-form {
  background: transparent;
  padding: 2.5rem 2rem 2rem 2rem;
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 2.5rem;
}

.form-label {
  color: #fff !important;
  font-weight: 500;
}

.form-control {
  background: rgba(242, 242, 242, 0.646);
  border: none;
  color: #222 !important;      /* Texto oscuro SIEMPRE */
  caret-color: #dc3545;
}

.form-control::placeholder {
  color: #000 !important;
  opacity: 1;
}

.form-text,
.text-danger,
.text-muted {
  color: #fff !important;
}

.btn-primary {
  background: #dc3545;
  border: none;
  font-weight: 600;
  transition: background 0.2s;
}

.btn-primary:hover {
  background: #b02a37;
}

.btn-secondary {
  font-weight: 600;
}

@media (max-width: 600px) {
  .login-form {
    padding: 1.5rem 0.5rem 1.2rem 0.5rem;
  }
  .login-form h2 {
    margin-top: 1.5rem;
  }
  
}