<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bloquear Usuario</title>
  <link rel="stylesheet" href="../css/bloquear_usuario.css">
</head>
<header class="menu-global">
    <nav>
        <a href="../paginas/menu.html">
            <img src="../images/logo.png" alt="Elite Barber Logo" class="menu-logo">
        </a>
        <ul>
            <li><a href="../paginas/menu.html">Inicio</a></li>
            <li><a href="../paginas/servicios.html">Servicios</a></li>
            <li><a href="../paginas/nosotros.html">Nosotros</a></li>
            <li><a href="../paginas/testimonios.html">Testimonios</a></li>
            
            <li class="menu-iniciar-item">
                <button id="btnIniciar" class="menu-btn-iniciar">Iniciar ▼</button>
                <div id="submenuIniciar" class="menu-submenu-iniciar">
                    <a href="../paginas/logueate.html">Login</a>
                    <a href="../paginas/registrate.html">Registro</a>
                </div>
            </li>
            
            <li><a href="../paginas/citas.html">Perfil</a></li>
        </ul>
    </nav>
</header>








<body>

  <div class="container">
    
    <div class="usuario">
      <div class="info-usuario">
        <div class="foto">
          <img src="https://foto_de_vegeta/777" alt="Foto de usuario">
        </div>
        <div class="detalles">
          <span class="nombre">Carlos Soto</span>
          <span class="calificacion">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</span>
        </div>
      </div>
      <div class="acciones">
        <button class="boton-bloquear">Bloquear</button>
        <button class="boton-eliminar">Eliminar</button>
      </div>
    </div>

    <div class="usuario">
      <div class="info-usuario">
        <div class="foto">
          <img src="https://foto_goku/333" alt="Foto de usuario">
        </div>
        <div class="detalles">
          <span class="nombre">Ana Díaz</span>
          <span class="calificacion">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</span>
        </div>
      </div>
      <div class="acciones">
        <button class="boton-bloquear">Bloquear</button>
        <button class="boton-eliminar">Eliminar</button>
      </div>
    </div>

  </div>

  <script src="../js/logn_registro.js"></script>
</body>
</html>

