{% load static %}
  
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Historial de citas</title>
  <link rel="stylesheet" href="{% static 'gestion3/css/citas.css' %}">
  <link rel="stylesheet" href="{% static 'gestion3/css/style.css' %}">
</head>
<body>
{% include 'gestion3/nav.html' %}






<!-- Botón para abrir/cerrar perfil -->
<button id="btnTogglePerfil" class="btn-toggle-perfil">Abrir/Cerrar Perfil</button>



<nav id="perfilBarbero" style="display: none;">
  <div class="perfil-caja">
    <div class="perfil-row">
      <div>
        <img src="../images/barberos/barberjo-mujer.avif" alt="Barbero 5" class="perfil-imagen">
      </div>
      <div class="datos-principales">
        <div class="dato-linea">
          <span class="etiqueta">Nombre:</span>
          <span class="valor">Juan</span> 
        </div>
        <div class="dato-linea">
          <span class="etiqueta">Apellido:</span>
          <span class="valor">Pérez</span>
        </div>
      </div>
    </div>
  </div>
</nav>




      <h2 class="etiqueta perfil-caja" >A continuación podrá ver el estado de sus citas</h2>


  <div class="container">

    <!--luego poner filtro para que solo salga las citas enlazas al perfil correspondiente tanto del barbero y usuario atraves del id-->
    <!-- y con el rol del usuario se podra hacer que salgan los botones o no-->
     <!-- como dije arriba si el rol usuari se le ocultaran los botones -->
  <div class="cita activa">
      <h3>Fecha: 03/05/2025</h3>
      <p><strong>Hora:</strong> 09:00</p>
      <p><strong>Estado:</strong> Activa</p>
      <p><strong>Barbero:</strong> Juan Pérez</p>
      <p><strong>Usuario:</strong> Tomás Núñez</p>
      <div class="botones"></div>
    </div>




    <div class="cita finalizada">
      <h3>Fecha: 01/05/2025</h3>
      <p><strong>Hora:</strong> 15:30</p>
      <p><strong>Estado:</strong> Finalizado</p>
      <p><strong>Barbero:</strong> Juan Pérez</p>
      <p><strong>Usuario:</strong> Carlos Soto</p>
      <div class="calificacion">
        <span class="estrella positiva">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
        <p><strong>Observaciones:</strong> Puntualidad, Servicio</p>
      </div>
      <div class="botones"></div>
    </div>

  
    <div class="cita finalizada">
      <h3>Fecha: 01/05/2025</h3>
      <p><strong>Hora:</strong> 16:30</p>
      <p><strong>Estado:</strong> Finalizado</p>
      <p><strong>Barbero:</strong> Juan Pérez</p>
      <p><strong>Usuario:</strong> Ana Díaz</p>
      <div class="calificacion">
        <span class="estrella negativa">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
        <p><strong>Observaciones:</strong> Servicio, Personalidad</p>
      </div>
      <div class="botones"></div>
    </div>


    <div class="cita rechazado">
      <h3>Fecha: 02/05/2025</h3>
      <p><strong>Hora:</strong> 11:00</p>
      <p><strong>Estado:</strong> Rechazado</p>
      <p><strong>Barbero:</strong> Juan Pérez</p>
      <p><strong>Usuario:</strong> Pedro Gómez</p>
      <div class="botones"></div>
    </div>
  </div>

</div>


  <script src="{% static 'gestion3/js/cita.js' %}"></script>
</body>
</html>



 <!-- Aaca podremos ver el perfil de uno mismo tanto como barbero o usuario o barberia-->
     
<!-- atraves del id y rol se veran las vistas diferente -->
     
<!-- si es barbero podra hacer todo lo que sale en este html y si es usuario solo podra ver la cita propia que este en progreso 
    las citas propias finalizadas(obviamente sin los botones de aceptar ,rechazar ,finalizar o registrar) -->

<!--obviamente el barbero es el unico que podra tener mas de 1 cita en progreso -->