{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'gestion3/css/estilos.css' %}">
</head>
<body>
{% include 'gestion3/nav.html' %}



  <div class="container">
    <div class="barberialogin">
      <form id="login1" name="logininicio">
        <h1>Inicio de sesión</h1>

        <div class="form-group">
          <label><h4>Correo electrónico</h4></label>
          <input type="email" id="logincorreo" name="correorelogin" class="form-control" required>
        </div>

        <div class="form-group">
          <label><h4>Contraseña</h4></label>
          <input type="password" id="contraseñalogin" name="contraseñalogin" class="form-control" required>
        </div>

        <input type="reset" value="Limpiar campos">
        <button type="submit">Iniciar sesión</button>

        <p id="mensajes"></p>
        <div class="note">
          PD: No comparta sus datos personales con nadie.
        </div>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'gestion3/js/validacionlogin.js' %}"></script>
</body>
</html>
