{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{% static 'gestion3/css/menu.css' %}" />
</head>
<body>

<header>                          
  <nav>
    <a href="{% url 'menu' %}">
      <img src="{% static 'gestion3/images/logo.png' %}" alt="Elite Barber Logo" style="height:80px;">
    </a>
    <ul>                   
      <li><a href="{% url 'menu' %}">Inicio</a></li>
      <li><a href="{% url 'servicios' %}">Servicios</a></li>
      <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
      <li><a href="{% url 'testimonios' %}">Testimonios</a></li>

      {% if request.session.usuario_id %}

            


            <!--(esto sera esclusivo del perfil de la barberia osea solo se le vera al usuario con tipo usuario barberia)
             cuando este logueado quiero que la opcion de ver usuarios ,registro citas ,ver pagos y registrar barbero se 
             vean apretando un boton para que no se vea tan cargado el nav -->
            <a href="{% url 'listar_usuarios' %}">Ver usuarios</a> <!--solo lo podra ver la barberia-->
            <a href="{% url 'registro_citas' %}">Registro citas</a><!--solo lo podra ver la barberia-->
            <a href="{% url 'ver_pagos' %}">Ver Pagos</a><!--solo lo podra ver la barberia-->
            <a href="{% url 'registro_barbero' %}">Registrar barbero</a><!--solo lo podra ver la barberia-->




            <a href="{% url 'perfil' %}">Perfil</a><!--todos lo veran-->
            <a href="{% url 'logout' %}">Cerrar sesión</a><!--todos lo veran-->



      {% else %}
  <!-- cuando no este logueado quiero que la opcion de  login y registro salga al apretar un boton para que no este tan sobrecargado el nav-->
            <a href="{% url 'login' %}">Login</a><!--todos lo veran-->
            <a href="{% url 'registrate' %}">Registro</a><!--todos lo veran-->

      {% endif %}
    </ul>
  </nav>
</header> 


</body>
</html>







