{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros - Elite Barber</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'gestion3/css/nosotros.css' %}">
</head>
<body>

  {% include 'gestion3/nav.html' %}

  <header class="nosotros-header">
    <div class="nosotros-header-content">
      <h1>Nuestros Barberos</h1>
      <p>
        En Elite Barber, nos apasiona el arte del buen corte y el cuidado personal. Nuestro equipo está formado por barberos profesionales con años de experiencia, dedicados a brindar el mejor servicio y atención a cada cliente. ¡Conócenos!
      </p>
    </div>
  </header>

  <main>
    <section class="barberos">
      <div class="barbero-card">
        <div class="barbero-img-wrapper">
          <img src="{% static 'gestion3/images/barberos/ultimo-barbero.avif' %}" alt="Barbero Juan">
        </div>
        <h2>Juan Pérez</h2>
        <p>Especialidad: Corte clásico y afeitado tradicional</p>
      </div>
      <div class="barbero-card">
        <div class="barbero-img-wrapper">
          <img src="{% static 'gestion3/images/barberos/barbero-profesional.png' %}" alt="Barbero Marco">
        </div>
        <h2>Juan Gómez</h2>
        <p>Especialidad: Corte niños y Cortes modernos</p>
      </div>
    </section>
  </main>

 <footer class="text-center p-4 bg-light mt-5">
    <p>&copy; 2025 Elite Barber. Todos los derechos reservados.</p>
    <div class="footer-links mb-2">
      <a href="https://www.facebook.com" target="_blank">Facebook</a> |
      <a href="https://www.instagram.com" target="_blank">Instagram</a> |
      <a href="https://www.twitter.com" target="_blank">Twitter</a>
    </div>
    <nav>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="../paginas/menu.html">Inicio</a></li>
        <li class="list-inline-item"><a href="../paginas/barberos.html">Nosotros</a></li>
        <li class="list-inline-item"><a href="../paginas/servicios.html">Servicios</a></li>
        <li class="list-inline-item"><a href="../paginas/testimonios.html">Testimonios</a></li>
        <li class="list-inline-item"><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </footer>


</body>
</html>