{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Historial de citas</title>
  <link rel="stylesheet" href="{% static 'gestion3/css/citas.css' %}">
  <link rel="stylesheet" href="{% static 'gestion3/css/style.css' %}">
</head>
<body>
  {% include 'gestion3/nav.html' %}

  <div class="container">
    {% for item in citas_con_valoracion %}
      <div class="cita {% if item.cita.id_estado_cita.estado_cita == 'Finalizado' %}finalizada{% elif item.cita.id_estado_cita.estado_cita == 'Cancelado' %}rechazado{% else %}activa{% endif %}">
        <h3>Fecha: {{ item.cita.fecha_cita|date:"d/m/Y" }}</h3>
        <p><strong>Hora:</strong> {{ item.cita.hora_cita }}</p>
        <p><strong>Estado:</strong> {{ item.cita.id_estado_cita.estado_cita }}</p>
        <p><strong>Barbero:</strong> {{ item.cita.id_servicio.id_usuario.nombre }} {{ item.cita.id_servicio.id_usuario.apellido }}</p>
        <p><strong>Usuario:</strong> {{ item.cita.id_cliente.nombre }} {{ item.cita.id_cliente.apellido }}</p>

        {% if item.valoracion %}
          <div class="calificacion">
            <span class="estrella {% if item.valoracion >= 4 %}positiva{% else %}negativa{% endif %}">
              {% for i in "12345" %}
                {% if forloop.counter <= item.valoracion %}
                  &#9733;
                {% else %}
                  &#9734;
                {% endif %}
              {% endfor %}
            </span>
            <p><strong>Observaciones:</strong> {{ item.observaciones|join:", " }}</p>
          </div>
        {% endif %}
        
        <div class="botones"></div>
      </div>
    {% endfor %}
  </div>
</body>
</html>
