{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{% static 'gestion3/css/registro.css' %}">
</head>
<body>

{% include 'gestion3/nav.html' %}

<main class="container">
  <div class="registro-container">
    <form name="registro1" id="registrof">
      <h2>Formulario de Registro</h2>

      <div class="form-group">
        <label>Imagen de perfil</label>
        <input type="file" name="imagenperfil" required>
      </div>

      <div class="fila">
        <div class="form-group mitad">
          <label>Nombre</label>
          <input type="text" id="nombreregistro" name="nombreregistro" required>
        </div>
        <div class="form-group mitad">
          <label>Apellido</label>
          <input type="text" id="apellidoregistro" name="apellidoregistro" required>
        </div>
      </div>

      <div class="fila">
        <div class="form-group mitad">
          <label>Correo electrónico</label>
          <input type="email" id="registrocorreo" name="correoregistro" required>
        </div>
        <div class="form-group mitad">
          <label>Celular</label>
          <input type="tel" id="celularregistro" name="celularregistro" required>
        </div>
      </div>

      <div class="fila">
        <div class="form-group mitad">
          <label>Fecha de nacimiento</label>
          <input type="date" id="edad" name="edad" max="2050-01-01" min="1930-01-01" required>
        </div>
        <div class="form-group mitad">
          <label>Tipo de usuario</label>
          <input type="text" value="Barbero" readonly>
        </div>
      </div>

      <div class="fila">
        <div class="form-group mitad">
          <label>Contraseña</label>
          <input type="password" id="contraseñaregistro" name="contraseñaregistro" required>
        </div>
        <div class="form-group mitad">
          <label>Confirmar contraseña</label>
          <input type="password" id="confirmarcontraseñaregistro" name="confirmarcontraseñaregistro" required>
        </div>
      </div>

      <div class="fila">
        <input type="reset" value="Limpiar">
        <button type="submit">Confirmar creación de cuenta</button>
      </div>

      <p id="mensajes"></p>
      <div class="note">
        PD: El nombre y apellido deben iniciar con mayúscula. No comparta sus datos.
      </div>
    </form>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'gestion3/js/validacionregistro.js' %}"></script>
</body>
</html>





  
